<%= form_for @product, builder: LabeledFormBuilder do |f| %>
  <%= f.error_messages %>
   
  <%= f.text_field :name %>
  <%= f.text_field :price, label: "Unit Price" %>
  <%= f.text_area :description, rows: 8 %>
  <%= f.check_box :discontinued %>
  
  <h2>Categories</h2>
  <div class="field">
    <%= hidden_field_tag "product[category_ids][]", nil %>
    <% Category.all.each do |category| %>
      <%= check_box_tag "product[category_ids][]", category.id, @product.category_ids.include?(category.id), id: dom_id(category) %>
      <%= label_tag dom_id(category), category.name %><br>
    <% end %>
  </div>
  
  <%= f.submit %>
<% end %>
